[submodule "External/openFrameworks"]
	path = External/openFrameworks
	url = git://github.com/openframeworks/openFrameworks.git
[submodule "External/ofxMidi"]
	path = External/ofxMidi
	url = git://github.com/danomatika/ofxMidi.git
[submodule "External/ofxSyphon"]
	path = External/ofxSyphon
	url = git://github.com/astellato/ofxSyphon.git
[submodule "External/Catch"]
	path = External/Catch
	url = https://github.com/philsquared/Catch.git
[submodule "External/json"]
	path = External/json
	url = https://github.com/nlohmann/json.git
